.App-container {
    height: 100vh;
    width: 100vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-image: url('/Background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-color: #5a3333;
}
