.black-circle {
    width: 35vmax;
    height: 35vmax;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle at 12vmax 12vmax, #333, #000);
    box-shadow: 0 1.5vmax 2vmax rgba(0, 0, 0, 0.5),
        inset 0 0 5vmax rgba(255, 255, 255, 0.1);
}

.white-circle {
    width: 14.5vmax;
    height: 14.5vmax;
    background-color: #f7f2f2;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.white-circle svg {
    width: 100%;
    height: 100%;
    display: block;
}

@keyframes zoomInSmoothly {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.zoom-in-text {
    transform-origin: center;
    animation: zoomInSmoothly 1.2s ease-out forwards;
}
