.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vmax;
    height: 35vmax;
}

.highlight {
    position: absolute;
    top: 5vmax;
    right: 5vmax;
    width: 3vmax;
    height: 3vmax;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    filter: blur(5px);
    pointer-events: none;
}

.black-circle {
    width: 35vmax;
    height: 35vmax;
    background-color: #000000;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    box-shadow: 0vmax 1.5vmax 2vmax rgba(0, 0, 0, 0.5),
        0vmax 0.3vmax 0.8vmax rgba(0, 0, 0, 0.2),
        inset 0 0 5vmax rgba(255, 255, 255, 0.1),
        inset 1vmax 1vmax 1vmax rgba(255, 255, 255, 0.2);

    background: radial-gradient(circle at 12vmax 12vmax, #333, #000);
}

.white-circle {
    width: 14.5vmax;
    height: 14.5vmax;
    background-color: #f7f2f2;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 20px rgba(240, 234, 234, 0.3);
}

@keyframes zoomInSmoothly {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.white-circle svg g.text-glow {
    filter: none;

    text-shadow: 0 0 4px #235fe0ff, 0 0 8px #235fe0ff, 0 0 12px #235fe0ff,
        0 0 20px #6cb1f1;
}

.white-circle svg g.zoom-in-text {
    transform-origin: center center;
    animation: zoomInSmoothly 1.2s ease-out forwards;
}

.triangle-glow {
    filter: drop-shadow(0 0 8px #235fe0ff) drop-shadow(0 0 15px #6cb1f1);
}
